body {
    background-color: blanchedalmond;
}
h1 {
    background-color: burlywood;
    color: brown;
    text-align: center;
    margin-bottom: 40px;
}
table {
    border: 2px solid brown;
    margin-top: 50px;
    margin: auto;
    cursor: pointer;
    margin-bottom: 20px;
    max-width: 500px;
}
td {
    min-width: 40px;
    width: 20px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border: 2px solid brown;

    transition: 0.5s;
}
td:hover {
    background-color: burlywood;
}
.hide {
    display: none;
  }